# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env
.env.local
.env.production

# Base de datos (NO subir db.json a producción)
db.json

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db